* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(24, 86, 219);
}

header h1 {
    color: white;
}

body {
    background-color: rgb(130, 199, 219);
}

.menu {
    text-decoration: none;
    display: block;
    padding: 10px 40px;
}

.menuPrincipal {
    text-align: center;
}

.menuPrincipal a {
    color: white;
}

img {
    height: 600px;
    width: 600px;
    position: relative;
    left: 400px;
}

footer {
    color: white;
}